.button {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 1.15;

  color: var(--color-background);
  border: 2px solid #2b7fff;
  border-radius: 32px;
  background-color: var(--color-primary-blue);
  padding: 16px 32px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: transparent;
    color: var(--color-primary-dark);
  }
}
